body{
    background-color: #3c618f;
    padding-top: 50px;

}

.heading{
    margin: 3% 11%;
    padding: 3%;
    background-color: white;
}
.section{
    margin: 3% 11%;
    padding: 3%;
    background-color: white;
}